<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/personal/stylesheetheader.css' %}"  type="text/css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  type="text/css" />
        <title>
            Versario's Forum
        </title>
    </head>
    <body id="body">
        <div id="header">
            <div id="logo">
                <a id="versarios" href="/">Versario's Forum</a>
            </div>
            <ul class="navi">
                {% if user.is_authenticated %}
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/login/">Login</a></li>
                {% endif %}
                <li><a href="/signin/">Sign in</a>
                </li>
                {% if user.profile %}
                <li><a href="/forum/">Forum</a>
                {% endif %}
                </li>
                {% if user.is_authenticated %}
                <li><a href="/accounts/profile/{{user.id}}">Profile</a></li>
                {% endif %}
            </ul>
        </div>
            {% block content %}
            {% endblock %}
    </body>
</html>