{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<center>
    <h2> Bienvenido {{ user.username }} </h2>
</center>
{% else %}
<center>
    <h2> Bienvenido </h2>
</center>
{% endif %}
{% endblock %}