{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<center>
    <h3> ¡Bienvenido al foro! </h3>
</center>
<div class="container">
    <br>
        <table class="table">
                <tr>
                    <th>Categorias</th>
                    <th>Descripcion</th>
                    <th>Temas</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <th>
                        <a href="/forum/{{category.id}}">{{category.categoryName}}</a>
                    </th>
                    <td>
                        {{category.categoryDescription}}
                    </td>
                    <td>
                        {{category.count_subjects}}
                    </td>
                </tr>
                {% endfor %}
        </table>
</div>
{% else %}
<center>
    <h2> Al parecer no te has logeado :c </h2>
</center>

{% endif %}
{% endblock %}