{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<br>
<center>
{% if subject %}
    <h3><a href="/forum/categories/{{subject.id}}">{{subject}}</a></h3>
{% endif %}
<div class="container-fluid">
    <form method="POST"> {% csrf_token %}
        <br>
        <label>Post</label>
        <br>
        <br>
        {{form.postText}}
        <br>
        <input class="btn" type="submit" value="Crear">
    </form>
</div>
</center>
{% else %}
{% endif %}
{% endblock %}