{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<br>
{% if category %}
    <center><h3>{{ category }}</h3></center>
<br>
{% endif %}
<center>
<div class="container-fluid">
    <form method="POST"> {% csrf_token %}
        <label> Nombre del tema </label>
        <br>
        {{form.subjectTitle}}
        <br>
        <br>
        <input class="btn" type="submit" value="Crear">
    </form>
</div>
</center>
{% else %}
{% endif %}
{% endblock %}