{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h3><a href="/forum/{{category.id}}">{{category}}</a></h3>
        {% if subject %}
           <center> <h3>{{ subject }}</h3> </center>
        {% endif %}
        <p><strong>En este tema:</strong>
        {% for user in users_in_subject %}
            <a href="../../accounts/profile/{{user.id}}">{{user}}</a>
        {% endfor%}
        </p>
        {% if posts %}
        <table class="table">
                {% for post in posts %}
                <tr>
                    <th>
                        <a href="../../accounts/profile/{{post.postUser.id}}">{{post.postUser}}</a>
                        {% if post.postProfile.picture %}
                            <img src="{{post.postProfile.picture.url}}" class="img-responsive" width="150px" height="150px">
                        {% endif %}
                    </th>
                    <td text-align="left">
                        {{post.postText|safe|linebreaks}}
                    </td>
                </tr>
                {% endfor %}
        </table>
        {% else %}
            <center><h1> ¡Aun no hay posts! </h1></center>
        {% endif %}
        <input class="btn-info btn-xs" type="button" value="Crear post" onClick="window.location.href='new_post/{{subject.id}}';">
        <br>
        <ul class="pagination">
        {% if posts.has_previous %}
            <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        </div>
{% else %}
    <h2> Al parecer no te has logeado :c </h2>
{% endif %}
<br>
<br>
{% endblock %}