{% extends "home/header.html" %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h3><a href="/forum/">Foro</a></h3>
        {% if category %}
        <center><h3>{{category}}</h3></center>
        {% endif %}
        <br>
        <table class="table">
                <tr>
                    <th>Tema</th>
                    <th>Fecha</th>
                    <th>Posts</th>
                    <th>Autor</th>
                </tr>
                {% for subject in subjects %}
                <tr>
                    <th>
                        <a href="/forum/categories/{{subject.id}}">{{subject.subjectTitle}}</a>
                    </th>
                    <td>
                        {{subject.subjectDate}}
                    </td>
                    <td>
                        {{subject.count_posts}}
                    </td>
                    <td>
                        {{subject.subjectUser}}
                    </td>
                </tr>
                {% endfor %}
        </table>
        <input class="btn-info btn-xs" type="button" value="Crear nuevo tema" onClick="window.location.href='new_subject/{{category.id}}'">
    </div>
{% else %}>
    <h2> Al parecer no te has logeado :c </h2>
{% endif %}
<br>

{% endblock %}