*{
    margin: 0;
    padding: 0;
}

#header{
    margin:auto;
    width: 90%;
    height: 120px;
    margin-top: 20px;
    padding: 20px;
    padding-right: 50px;
    background-color: black;

}

.post{
    border:1px solid black;
}

.profile{
    border:1px solid black;
    height: 40%;
}

.error{
    color: red;
}

#body{

    background-color: whitesmoke;
}

#logo{

    float: left;
    font-size: 40px;
    font-family: fantasy;
    padding-left: 50px;
    padding-top: 10px;
    color: whitesmoke;
}

ul, ol{
    list-style: none;
}

.navi li a{

    color: white;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-weight: bold;
    font-family: "fantasy";
    font-size : 15px;
}

.navi li a:hover{
    color: lightblue;
    text-decoration: none;
}

#versarios{
    font-family: "fantasy";
    text-decoration: none;
    color: white;
}

#versarios:hover{
    color: lightblue;
}

.navi > li{
    padding-top: 15px;
    float: right;
}

.navi li ul{
    display: none;
    position: absolute;
    min-width: 25px;
}

.navi li:hover > ul{
    display: block;
}

.info{

    position: absolute;
    height: 500px;
    width: 500px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    color: black;
    font-family: fantasy;
    font-size: 20px;
}

.title{

    left: 50%;
    position: center;

}

.btn{

    padding-left: 100px;

}


.error{

    color: red;

}

.categories{

    border: inset;
    border-color: white;
    background: black;
    color: white;
    text-decoration: none;
    font-family: fantasy;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * Callout styles copied from Bootstrap's main docs.
 */
/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}