{% extends "home/header.html" %}
{% block content %}
<center>
<h2 class="title"> Login </h2>
<br>
{% if form.errors %}
    <p class="error">El usuario y la contraseña no son validos. Porfavor, intentalo nuevamente.</p>
{% endif %}
<form method="post">{% csrf_token %}
    <label> Usuario </label>
    <br>
    {{ form.username }}
    <br>
    <br>
    <label> Contraseña </label>
    <br>
    {{ form.password }}
     <br>
     <br>
     <input class="btn" type="submit" value="Login">
</form>
</center>
{% endblock %}