{% extends "home/header.html" %}
{% block content%}
<center>
<h3><a href="/accounts/profile/{{user.id}}">{{user}}</a></h3>
<div class="container-fluid">
    {% if form.errors %}
        <p class="error">Ha sucedido un error. Comprueba que el formato de la foto es correcto.</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <br>
        <label>Firma</label>
        <br>
        {{form.signature}}
        <br>
        <br>
        <label>Descripcion</label>
        <br>
        {{form.description}}
        <br>
        <br>
        <label>Foto de perfil</label>
        <br>
        {{form.picture}}
        <br>
        <br>
        <input class="btn" type="submit" value="Editar">
        <br>
        <br>
    </form>
</div>
</center>
{% endblock %}