{% extends "home/header.html" %}
{% block content%}
{% if profile %}
<center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h1>{{profile.user}}</h1>
                {% if profile.picture %}
                <img src="{{profile.picture.url}}" class="img-responsive" width="200px" height="200px">
                {% endif %}
            </div>
            <div class="col-md-6">
            <br>
            <br>
            <br>
            <table class="table table-bordered">
                <tr>
                    <th>Descripcion</th>
                    <th>Firma</th>
                </tr>
                <tr class="success">
                    <td>{{ profile.description }}</td>
                    <td>{{ profile.signature }}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</center>
{% else %}
<center>
    <h3>Oops, al parecer aun no has hecho un perfil</h3>
    <h3>¡El perfil es requerido para usar el foro!</h3>
    <br>
    <input class="btn-info btn-xs" type="button" value="Editar perfil" onClick="window.location.href='create_profile/{{user.id}}';">
    <br>
</center>
{% endif %}
{% if user == profile.user %}
    <center>
        <input class="btn-info btn-xs" type="button" value="Editar perfil" onClick="window.location.href='create_profile/{{user.id}}';">
    </center>
{% endif %}
{% endblock %}