{% extends "home/header.html" %}
{% block content %}
<center>
    <h2 class="title"> Sign in </h2>
    <br>
    {% if form.errors %}
    <p class="error">Ese nombre ya está en uso. Porfavor, escoge otro.</p>
    {% endif %}
    <form method="post" role="form">{% csrf_token %}
        <label> Usuario </label>
        <br>
        {{ form.username }}
        <br>
        <br>
        <label> Contraseña </label>
        <br>
        {{ form.password }}
        <br>
        <br>
        <label> Email </label>
        <br>
        {{ form.email }}
        <br>
        <br>
        <input class="btn" type="submit" value="Sign in">
    </form>
</center>
{% endblock %}